.privacy_title{
    color: #683eb6;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen  and (max-width: 770px){
        line-height: 40px;
    }   
}
.privacy__button{

}
.paragraph_privacy{
    box-sizing: border-box;
    text-align: justify;
    color: #4C0C61;
}
.items_list{
    margin-bottom: 5px;
    box-sizing: border-box;
    text-align: justify;
}

.privacy_h4_sub_titlte{
    color:  #683eb6;
    margin-top: 50px;
}
.Ocolor{
    color: #BC08F8;
}
.divcontainer {
    margin-left: 20px;
    padding-right: 50px;
    text-align: left;
}

.list_privatepolicy{
   
    display: inline-block;
    text-align: left;
}

.privacy__button{
    text-align: center;
}